* {
  margin: 0;
  font-family: "Segoe UI";
}

a {
  color: inherit;
  text-decoration: none;
}

/* NAVBAR */
.navbar-wrap {
  border-style: solid;
  border-width: 0;
  border-bottom-width: 1px;
  border-color: #cbd5e1;
}

.navbar-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.25rem;
}

@media only screen and (min-width: 1600px) {
  .navbar-container {
    width: 1100px;
  }
}

.navbar-container>button {
  background-color: #dc294f;
  color: white;
  padding: 16px 24px;
  transition: all;
  transition-duration: 200ms;
  cursor: pointer;
  border: 0;
  display: flex;
  gap: 10px;
}

.navbar-container>button>img {
  width: auto;
  height: 20px;
}

.navbar-container button:hover {
  opacity: 0.8;
}

.navbar-container input {
  border-width: 1px;
  border-color: rgb(203 213 225);
  border-radius: 4px;
  height: 32px;
  padding-left: 8px;
  padding-right: 8px;
  width: 100%;
}

.navbar-container input:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.navbar-brand {
  width: 384px;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.navbar-brand button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.navbar-brand img {
  width: 175px;
  height: auto;
  cursor: pointer;
}

.hamburger {
  width: 30px;
  height: 2px;
  background-color: rgb(51 65 85);
  margin-top: 7px;
  margin-bottom: 7px;
  display: block;
}

.navbar-content {
  font-weight: 700;
  border: solid;
  border-width: 0;
  border-bottom-width: 1px;
  border-color: #cbd5e1;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  gap: 20px;
}

.navbar-content h4 {
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .navbar-brand {
    width: 100px;
    text-align: center;
    display: flex;
    justify-content: space-around;
  }

  .navbar-brand img {
    display: none;
  }
}

/* NAVBAR END */

.top-frame {
  height: 50px;
  width: 970px;
  background-color: #d4d4d8;
  border: solid;
  border-width: 1px;
  border-color: #71717a;
  margin: 25px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #52525b;
}

.billboard {
  height: 250px;
  width: 970px;
  background-color: #d4d4d8;
  border: solid;
  border-width: 1px;
  border-color: #71717a;
  margin: 30px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #52525b;
  margin-bottom: 75px;
}


/* EDITOR CHOICE */

.container {
  width: 1100px;
  margin: 0 auto;
}

.container>h1 {
  font-size: 32px;
}

.container>h3 {
  opacity: 0.5;
  font-weight: 500;
  margin: 10px 0;
}

.editor-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 70px;
}

.editor-content {
  border: solid;
  border-width: 1px;
  border-color: #cbd5e1;
  border-radius: 15px;
  position: relative;
  width: 160px;
  height: 300px;
  padding: 20px;
  cursor: pointer;
  background-color: white;
  margin-bottom: 75px;
}

.editor-content>img {
  height: auto;
  width: 125px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.editor-user {
  display: flex;
  position: absolute;
  margin-top: -70px;
  justify-content: space-evenly;
  width: 185px;
}

.user {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  overflow: hidden;
}

.user img {
  width: 100%;
  height: 100%;
}

.text-user h5 {
  font-weight: 500;
  opacity: 0.6;
}

.rating {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
}

.star {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.star img {
  width: 20px;
  height: auto;
}

/* @media only screen and (max-width: 1250px) {
  .container {
    width: 1000px;
  }

}

@media only screen and (max-width: 1030px) {
  .container {
    width: 750px;
  }
} */

/* BANNER */

.banner-container {
  background-image: url('/src/images/mymatches.png');
  height: 450px;
  width: 83vw;
  background-repeat: no-repeat;
  margin: 0;
  overflow: hidden;
  padding-left: 250px;
}

.banner-bg {
  display: grid;
  grid-template-columns: 420px auto;
  padding-top: 25px;
  width: 100%;
}

.content-wrap {
  display: flex;
  justify-content: space-around;
  padding-right: 100px;
}

.banner-text {
  margin-right: 20px;
}

.banner-text h1 {
  font-size: 27px;
}

.banner-text h3 {
  font-size: 21px;
  font-weight: 500;
  margin-top: 15px;
}

.no-border {
  border-width: 0;
}

.banner-text button {
  background-color: #dc294f;
  color: white;
  padding: 16px 24px;
  transition: all;
  transition-duration: 200ms;
  cursor: pointer;
  border: 0;
  font-size: 20px;
  border-radius: 10px;
  margin-top: 10px;
  display: block;
  margin-left: auto;
}

.banner-text button:hover {
  opacity: 0.8;
}

.editor-content>h4 {
  color: #dc294f;
  margin: 5px 0;
}

.editor-content h3 {
  font-size: 16px;
}

@media only screen and (max-width: 1370px) {
  .banner-bg {
    grid-template-columns: 350px auto;
  }

  .content-wrap {
    gap: 10px;
  }
}

@media only screen and (min-width: 1450px) {
  .banner-container {
    background-size: 100%;
    padding-left: 325px;
  }

  .banner-text h1 {
    font-size: 33px;
  }

  .banner-text h3 {
    margin-top: 30px;
  }

  .banner-text button {
    margin-top: 30px;
  }

}

/* Latest Articles */

.articles-wrap {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 30px;
  margin-top: 15px;
  margin-bottom: 75px;
}

.articles-content {
  width: 350px;
  cursor: pointer;
}

.articles-content img {
  border-radius: 15px;
  width: 100%;
}

.articles-text {
  padding: 10px;
}

.articles-text h2 {
  font-size: 20px;
}

.articles-text h4 {
  opacity: 0.8;
  font-weight: 600;
  margin-top: 10px;
}

.articles-text h4 span {
  font-weight: 400;
}

.articles-head {
  display: flex;
  justify-content: space-between;
}

.articles-head>h1 {
  font-size: 32px;
}

.articles-head>h3 {
  opacity: 0.5;
  font-weight: 500;
  margin: 10px 0;
}

.articles-head>h4 {
  color: #dc294f;
  font-weight: 500;
  cursor: pointer;
}

/* FOOTER */

.footer-container {
  border-top-style: solid;
  border-width: 1px;
  border-color: #cbd5e1;
  width: 1100px;
  margin: auto;
}

.footer-wrap {
  display: grid;
  width: 1100px;
  margin: 40px auto;
  grid-template-columns: auto auto auto auto;
}

.footer-content h4 {
  cursor: pointer;
  margin: 15px 0;
}

.footer-sosmed {
  margin: 40 auto;
  width: 1100px;
}

.brand h4 {
  opacity: 0.6;
  font-weight: 500;
}

.brand img {
  cursor: pointer;
}

.sosmed {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.sosmed svg {
  cursor: pointer;
}

.download {
  display: flex;
  gap: 20px;
  margin: 20px 0;
}

.download img {
  border-radius: 5px;
  cursor: pointer;
}

/* POPULAR GROUP */

.popular-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 75px;
}

.popular-content {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 25px;
  width: 200px;
  text-align: center;
}

.popular-content h3 {
  font-weight: 500;
  font-size: 15px;
  margin-bottom: 25px;
}

.popular-content img {
  display: block;
  margin: 0 auto;
}

.popular-detail {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.popular-detail img {
  cursor: pointer;
}

/* LATEST VIDEO */
.video-wrap {
  display: grid;
  grid-template-columns: auto 348px;
  gap: 20px;
  margin-bottom: 75px;
}

.video-wrap>img {
  width: 100%;
}

.video-content {
  width: 100%;
  display: grid;
  gap: 20px;
}

.video-content>img {
  width: 100%;
}

/* TOP BRANDS */

.brands {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.brands svg,
.brands img {
  width: 80px;
  cursor: pointer;
}

.female-daily {
  margin-bottom: 50px;
}

.female-daily h3 {
  font-weight: 600;
  margin-top: 10px;
}

/* TRENDING */

.trending-container {
  margin-bottom: 0px;
}

.trending-wrap {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 400px;
}

.trending-wrap span {
  font-size: 60px;
  cursor: pointer;
  color: #dc294f;
  margin-top: -18px;
}

.page {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #dc294f;
  cursor: pointer;
}

.page:nth-child(3) {
  opacity: 0.5;
}

.navigation {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  gap: 50px;
}

.slider {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: left;
  overflow-x: auto;
}

.slider::-webkit-scrollbar {
  visibility: hidden;
}

.slider>div {
  min-width: 175px;
  height: 200px;
  position: relative;
  left: 0;
  font-weight: 600;
  margin: 10px 20px;
  transition: 0.5s;
}

.navigation {
  margin-top: -50px;
}

/* REVIEW */

.reviews {
  display: grid;
  grid-template-columns: 700px 300px;
  gap: 100px;
}

.reviews-wrap {
  height: 365px;
  width: 100%;
  gap: 50px;
}

.reviews-slider {
  width: 700px;
  height: 425px;
  display: flex;
  justify-content: left;
  overflow-x: auto;
  gap: 50px;
}

.reviews-slider::-webkit-scrollbar {
  visibility: hidden;
}

.review-content {
  border-style: solid;
  border-width: 0;
  border-width: 1px;
  border-color: #cbd5e1;
  border-radius: 15px;
  padding: 10px;
  position: relative;
  margin-bottom: 50px;
  height: 250px;
  min-width: 290px;
  transition: all 0.5s;
  left: 0;
}

.review-content-head {
  border-bottom-style: solid;
  border-width: 0;
  border-width: 1px;
  border-color: #cbd5e1;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.review-content-head img {
  width: 90px;
}

.mr2 {
  height: 250px;
  width: 300px;
  background-color: #d4d4d8;
  border: solid;
  border-width: 1px;
  border-color: #71717a;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #52525b;
}

.review-rating {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.review-rating p {
  opacity: 0.5;
}

.review-content-body {
  height: 125px;
}

.review-content-body>p>span {
  color: #dc294f;
  font-weight: 600;
  cursor: pointer;
}

.review-user {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 95%;
  margin-top: 25px;
}

.review-user-text {
  text-align: center;
}

.review-user-text h3 {
  font-weight: 400;
}

.review-user-text h5 {
  font-weight: 400;
  opacity: 0.5;
}

.reviews-container {
  margin-bottom: 125px;
}

#previous {
  opacity: 0.5;
}

@media only screen and (max-width: 1350px) {
  .footer-container {
    padding: 0 20px;
  }
}

@media only screen and (max-width: 650px) {
  .navbar-content {
    display: none;
  }
}

.page-reviews {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #dc294f;
  cursor: pointer;
}

.reviews-wrap>.navigation span {
  font-size: 60px;
  cursor: pointer;
  color: #dc294f;
  margin-top: -18px;
}

#previous-reviews {
  opacity: 0.5;
}

.page-reviews:nth-child(3) {
  opacity: 0.5;
}